extends ./index

append locals
  - var test = 500


block body

  head
    link(href=serverAssets.css('test') media="all" rel="stylesheet")
    script(src=serverAssets.dll('vendor'))
    script(src=serverAssets.dll('vendor_chart'))
    script(src=serverAssets.js('r'))


  body
    p main template rendered on server
    
    h3= profile
    
    include isomorphic_template


    button#button button

    include /node_modules/dummyroo/templates/test.pug
